.DS_Store
config/private.yml
/logs/*

# scripts/.xslt is populated based on version of datura gem
/scripts/.xslt-datura/*

# ignore all output types except for production html and iiif
/output/*
!/output/production
/output/production/*
!/output/production/html
!/output/production/iiif

# Ignore Gemfile(.lock) to use whitman-scripts Gemfile
Gemfile
Gemfile.lock

